.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
	background-color: #ccc;
}

#star label {
    display: inline-block;
    cursor: pointer;
}

#star label img {
    padding: 5px;
}