{% load beertasting_extra %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="{% static 'bootstrap/assets/ico/favicon.png' %}">

		<title>{% block title %}BeerTasting{% endblock %}</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'form.css' %}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{% static 'jumbotron.css' %}" rel="stylesheet">
		
		<!-- Row link -->
		<link href="{% static 'bootstrap-rowlink.min.css' %}" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="{% static 'bootstrap/assets/js/html5shiv.js' %}"></script>
		<script src="{% static 'bootstrap/assets/js/respond.min.js' %}"></script>
		<![endif]-->
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'index' %}">{% block title_main %}BeerTasting{% endblock %}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li{% navactive request 'index' %}>
							<a href="{% url 'index' %}">Home</a>
						</li>
						<li{% navactive request 'stats' %}>
							<a href="{% url 'stats' %}">Statistics</a>
						</li>
					</ul>
					
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav pull-right">
						<li{% navactive request 'profile_view' %}>
							<a href="{% url 'profile_view' %}">Profile</a>
						</li>
						<li>
							<a href="{% url 'logout_view' %}">Logout</a>
						</li>
					</ul>
					{% endif %}
					
					
					{% if not user.is_authenticated %}
					<form class="navbar-form navbar-right" action="{% url 'login_view' %}" method="post">
						<div class="form-group">
							<input name="username" type="text" placeholder="Username" class="form-control">
						</div>
						<div class="form-group">
							<input name="password" type="password" placeholder="Password" class="form-control">
						</div>
						
						{% csrf_token %}
						
						<button type="submit" class="btn btn-success">
							Sign in
						</button>
					</form>
					{% endif %}
					
					
				</div><!--/.navbar-collapse -->
			</div>
		</div>
		
		{% if site.welcome %}
		<div class="jumbotron">
			<div class="container">
				<h1>{{ site.welcome }}</h1>
				{% if site.intro %}
				<p>
					{{ site.intro }}
				</p>
				{% endif %}
			</div>
		</div>
		{% endif %}

		<div class="container">
			{% block content %}{% endblock %}
			<hr>

			<footer>
				<p>
					&copy; St&aring;le Semb Hauknes {% now "Y" %}
				</p>
			</footer>
		</div>
		<!-- /container -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
		
		<!-- Row link -->
		<script src="{% static 'bootstrap-rowlink.min.js' %}"></script>
		
		<script src="{% static 'form.js' %}"></script>
	</body>
</html>
