{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
			<div class="row">
				<div class=".col-lg-12">
					<h2>Beer #{{ b_id }}</h2>
					
					{% if errors %}
						{{ errors }}
					{% endif %}
					
					{% if finished %}
					<p>
						{{beer.brewery}} - <i>{{beer.name}}</i>
					</p>
					{% endif %}
					
					<form action="" method="post">
						{% csrf_token %}
						{% autoescape off %}
							{{ beer.rating|print_stars_form }}
						{% endautoescape %}
						<textarea name="comment" maxlength="500" rows="5" style="width:90%">{% if beer.comment %}{{ beer.comment }}{% endif %}</textarea>
						<br />
						{% if rated_before %}
						<input type="submit" value="Update rating"></input>
						{% else %}
						<input type="submit" value="Rate"></input>
						{% endif %}
					</form>
				</div>
			</div>

{% endblock %}
