{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
	{% if login_failed %}
		{% include 'alerts/login_failed.html' %}
	{% endif %}
			<div class="row">
				<div class=".col-lg-12">
					<h2>Beers</h2>
					<table class="table">
						<tr class="border">
							<th>#</th>
							<th>Name</th>
							<th>Brewery</th>
							<th>Style</th>
							<th>Ibu</th>
							<th>Alcohol</th>
							<th>Price</th>
						</tr>
						{% if beers %}
						{% for beer in beers %}
						
						<tr class="{{ forloop.counter|every_other_row }}">
							<td rowspan="2">
								{{ beer.id }}
							</td>
							<td>{{ beer.name }}</td>
							<td>{{ beer.brewery }}</td>
							<td>{{ beer.style }}</td>
							<td>{{ beer.ibu }}</td>
							<td>{{ beer.alcohol }}</td>
							<td>{{ beer.price }}</td>
						</tr>
						<tr>
							<td colspan="6" class="{{ forloop.counter|every_other_row }}">
								{% autoescape off %}
									{{ ratings|print_stars:beer.id }}
								{% endautoescape %}
							</td>
						</tr>
						{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>

	{% endblock %}
