{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
	{% if login_failed %}
		{% include 'alerts/login_failed.html' %}
	{% endif %}
			<div class="row">
				<div class=".col-lg-12">
					<h2>Beers - {{ desc }}</h2>
					<table class="table">
						<tr class="border">
							<th class="hidden-s"><a href="{% url 'stats' %}id/{% if order_by == 'id' and not desc %}desc/{% endif %}">#</a></th>
							<th class="hidden-m">Label</th>
							<th><a href="{% url 'stats' %}name/{% if order_by == 'name' and not desc %}desc/{% endif %}">Name</a></th>
							<th><a href="{% url 'stats' %}brewery/{% if order_by == 'brewery' and not desc %}desc/{% endif %}">Brewery</a></th>
							<th class="hidden-xs"><a href="{% url 'stats' %}style/{% if order_by == 'style' and not desc %}desc/{% endif %}">Style</a></th>
							<th class="hidden-xs"><a href="{% url 'stats' %}alcohol/{% if order_by == 'alcohol' and not desc %}desc/{% endif %}">Alcohol</a></th>
						</tr>
						{% if beers %}
						{% for beer in beers %}
						
						<tr class="{{ forloop.counter|every_other_row }}">
							<td rowspan="2" class="hidden-s">
								{{ beer.id }}
							</td>
							<td rowspan="2">
								<img src="{{ beer.label }}" width="100" height="100" />
							</td>
							<td>{{ beer.name }}</td>
							<td>{{ beer.brewery }}</td>
							<td class="hidden-xs">{{ beer.style }}</td>
							<td class="hidden-xs">{{ beer.alcohol }}</td>
						</tr>
						<tr>
							<td colspan="4" class="{{ forloop.counter|every_other_row }}">
								{% autoescape off %}
									{{ ratings|print_stars:beer.id }} - {{ ratings|return_with_decimal:beer.id }}
								{% endautoescape %}
								</p>

							</td>
						</tr>
						{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>

	{% endblock %}
