{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
	{% if login_failed %}
		{% include 'alerts/login_failed.html' %}
	{% endif %}
			<div class="row">
				<div class=".col-lg-12">
					<h2>Beers</h2>
					<table class="table">
						<tr class="border">
							<th>#</th>
							<th>Name</th>
							<th>Brewery</th>
							<th>Style</th>
							<th>Ibu</th>
							<th>Alcohol</th>
							<th>Price</th>
						</tr>
						{% if beers %}
						{% for beer in beers %}
						
						<tr>
							<td {% if user.is_authenticated %} rowspan="2"{% endif %}>
								{{forloop.counter}}
							</td>
							<td>{{ beer.name }}</td>
							<td>{{ beer.brewery }}</td>
							<td>{{ beer.style }}</td>
							<td>{{ beer.ibu }}</td>
							<td>{{ beer.alcohol }}</td>
							<td>{{ beer.price }}</td>
						</tr>
						{% if user.is_authenticated %}
						<tr>
							<td colspan="6">
								{% autoescape off %}
									{{ beer.rating|print_stars }}
									{% if finished == False %}
										<br />
										{{ beer.rating|print_stars }}
									{% endif %}
								{% endautoescape %}
							</td>
						</tr>
						{% endif %}{# user auth #}
						{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>

	{% endblock %}
