{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
	{% if login_failed %}
		{% include 'alerts/login_failed.html' %}
	{% endif %}
			<div class="row">
				<div class=".col-lg-12">
					<h2>Beers</h2>
					<table class="table" data-provides="rowlink">
						<tr class="border">
							<th>#</th>
							<th>Rating</th>
						</tr>
						{% if beers %}
						{% for beer in beers %}
						
						<tr>
							<td>
								<a href="{% url 'rate_beer' forloop.counter %}">
								{{beer.id}}
								</a>
							</td>
							<td>
								{% autoescape off %}
									{{ ratings|print_stars:beer.id }}
								{% endautoescape %}
							</td>
						</tr>
						{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>

	{% endblock %}
