{% extends "base.html" %}

{% block content %}
	{% if login_failed %}
		{% include 'alerts/login_failed.html' %}
	{% endif %}
			<div class="row">
				<div class=".col-lg-12">
					<h2>Beers</h2>
					<table class="table table-striped" data-provides="rowlink">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Brewery</th>
							<th>Style</th>
							<th>Ibu</th>
							<th>Alcohol</th>
							<th>Price</th>
							{% if user.is_authenticated %}
							<th>Your rating</th>
							{% endif %}
						</tr>
						{% if beers %}
						{% for beer in beers %}
						
						<tr {% if not beer.rating %} class="warning"{% endif %}>
							<td><a href="{% url 'selected_beer' %}{{ beer.pk }}">{{ beer.pk }}</a></td>
							<td>{{ beer.name }}</td>
							<td>{{ beer.brewery }}</td>
							<td>{{ beer.style }}</td>
							<td>{{ beer.ibu }}</td>
							<td>{{ beer.alcohol }}</td>
							<td>{{ beer.price }}</td>
							{% if user.is_authenticated %}
							<td>
								{% if beer.rating %}
									{% print_stars beer.rating %}
								{% else %}
									N/A
								{% endif %}
							</td>
							{% endif %}
						</tr>
						{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>

	{% endblock %}
