{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
	<div class="row">
		<div class=".col-lg-12">
			<h2>Profile</h2>
			
			<p>
				You checked in {{ uploaded }} beers{% if badges %} and got {{ numberOfBadges }} badges{% endif %}.
			</p>

			{% if failed %}
			<p>{{ failed }} beers was not checked in. Try again later.</p>
			{% endif %}
			
			{% if badges %}
			<table class="table" data-provides="rowlink">
				{% for badge in badges %}
				<tr>
					<td>
						<img src="{{ badge.img }}">
					</td>
				</tr>
				<tr>
					<td>
						<b>{{ badge.name }}</b><br />
						{{ badge.description }}
					</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>
{% endblock %}
