{% extends "base.html" %}

{% load beertasting_extra %}

{% block content %}
	<div class="row">
		<div class=".col-lg-12">
			<h2>Profile</h2>
			
			{% if badges %}
			<p>
				You got {{ numberOfBadges }} badges.
			</p>
			
			<table class="table" data-provides="rowlink">
				{% for badge in badges %}
				<tr>
					<td>
						<img src="{{ badge.img }}">
					</td>
				</tr>
				<tr>
					<td>
						{{ badge.name }}
					</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>
{% endblock %}
